/* Write your CSS here! */
#mainHeading {
    color: red;
}

body {
    margin: 8px;
    display: block;
    padding: 28px;
}

.funParagraph {
    background-color: brown;
    color: green;
    border: 16px solid white;
}